<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration
        PUBLIC
        "-//mybatis.org//DTD Mybatis Generator Configuration 3.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <properties url="classpath:mysql.properties"/>
    <classPathEntry location="${driver.class.path}"/>
    <context id="assetManagerDB" targetRuntime="MyBatis3">
        <!--关闭注释-->
        <commentGenerator>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!--数据连接配置-->
        <jdbcConnection driverClass="${jdbc.driver}" connectionURL="${jdbc.url}" userId="${jdbc.username}" password="${jdbc.password}"></jdbcConnection>

        <!--生成的Model包路径-->
        <javaModelGenerator targetPackage="${model.package}" targetProject="${target.project}">
            <property name="enableSubPackages" value="true"/>
            <property name="trimString" value="true"/>
        </javaModelGenerator>

        <!--生成xml mapper文件路径-->
        <!--<sqlMapGenerator targetPackage="${xml.mapper.package}" targetProject="${target.project}">-->
            <!--<property name="enableSubPackages" value="true"/>-->
        <!--</sqlMapGenerator>-->

        <!--生成的Dao接口的包路径-->
        <javaClientGenerator type="ANNOTATEDMAPPER" targetPackage="" targetProject=""
        
        <table tableName="tbl_asset_detail">
        </table>
    </context>
</generatorConfiguration>